html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    background: url(/src/assets/images/фон\ 1.png);
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    background-color: #dedede50;
    backdrop-filter: blur(20px);
    z-index: 100;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-left: 293px;
    padding-right: 293px;
}

.logo {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 202px;
    height: 147px;
}

.logo__black {
    position: absolute;
    width: 147px;
    height: 147px;
    background-color: black;
    border-radius: 7px;
}

.logo-black__text {
    text-align: center;
    padding-top: 50px;
    background-color:rgba(255, 255, 255, 0,5);

}

.logo__red {
    position: absolute;
    width: 121px;
    height: 42px;
    background-color: #BC3324;
    left: 81px;
    top: 92px;
    bottom: 13px;
    border-radius: 7px;
}

.logo-red__text {
    text-align: center;
    padding-top: 10.64px;
    background-color: rgba(255, 255, 255, 0,5);
}

.page-header_nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.page-header_nav__link {
    margin: 0 25px;
    color: #1f1e1e;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transform: color 0.2s;
    text-shadow: 1px 1px 3px rgba(116, 116, 116, 0.377);
}

.page-header_nav__link:hover {
    color: #bc3324;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1F1E1E;
    background-color: transparent;
    outline: none;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    background-color: #1F1E1E;
    color: #ffffff;
  }

  .page-header__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
  }

.main {
    flex: 1 0 auto;
    padding-top: 247.5px;
}

.block1 {
    width: 1334px;
    margin: auto;
    margin-bottom: 70.5px;
}

.block3 {
    width: 990px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.text1, .text2 {
    font-family: "Lora", serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.block4 {
    width: 624px;
    height: 128px;
    margin: auto;
    margin-bottom: 200px;
}
.text4 {
    font-family: "Lora", serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; 
}

.button {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 624px;
    height: 128px;
    text-align: center;
    align-items: center;


}
.knopka__red {
    width: 272px;
    height: 52px;
    background: #BC3324;
    color: #ffffff;
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    border-radius: 7px;
}

.knopka__gray {
    width: 245px;
    height: 52px;
    border: 2px #1F1E1E solid;
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    color: #1F1E1E;
    justify-content: center;
    border-radius: 7px;
}

.block5 {
    margin: auto;
    width: 624px;
    height: 62px;
    background-color: #1F1E1E;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 150px;
}

.text6 {
    font-family: "Lora", serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.block7 {
    margin: auto;
    padding: 0;
    width: 1334px;
    height: 60px;
    margin-bottom: 100.5px;
}

.text7{
    font-family: "Open Sans", serif;
    font-size: 44px;
    font-weight: 700;
}
.text8 {
    width: 867px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 480px;
}

.block8 {
    width: 1334px;
    margin: auto;
}

.photo1left {
    position: relative;
    margin-top: 100px;
}

.photo2right {
    position: relative;
    margin-left: 890px;
    margin-top: -230px;
}














.page-footer {
    flex: 0 0 auto;
}
  