html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/img/фон\ 1.png)
}

.body {
box-sizing: border-box;
display: flex;
flex-direction: column;
min-height: 100vh;
padding-top: 147px;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  backdrop-filter: blur(20px);
  background-color: #DEDEDE50;
}

.header__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
  justify-content: space-between;
}

.nav__link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #1F1E1E;
  padding-right: 40px;
}

.nav__link:hover {
  color: #BC3324;
  transition: color 0.2s ease-in;
}

.join {
 display: flex;
 box-sizing: border-box;
 justify-content: flex-end;
 align-items: center;
 width: 120px;
 border: 1px solid #1F1E1E;
 padding: 15px 30px;
}
.join:hover {
  background-color: black;
  color: #BC3324;
}

.nav__join {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #1F1E1E;
}

.nav__join:hover {
  background-color: black;
  color: #BC3324;
  transition: color 0.2s ease-in;
}

.main {
  flex: 1 0 auto;
}
.main__logo {
  width: 100%;
  margin-top: 375px;
  margin: auto;
  text-align: center;
  
}
.txUp {
  width: 100%;
  margin-top: 247px;
  margin-right: 701px;
}
.txDw {
  width: 990px;
  height: 116px;
  margin-top: 70px;
  margin-right: 465px;
}
.txUp, .txDw {
  width: 100%;
  font-family: "Lora", sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.nav__button {
  width: 100%;
  text-align: center;
}
.txIwant {
  font-family: "Lora";
  font-size: 22px;
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
}
.buttonRed, .buttonGray {
  margin-top: 46px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.buttonRed {
  width: 272px;
  height: 52px;
  color: white;
  background-color: #BC3324;
}
.buttonGray {
  width: 245.88px;
  height: 52px;
  color: #1F1E1E;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 106px;
}

.aboutUs {
  box-sizing: border-box;
  display: flex;
  width: 624px;
  height: 62px;
  background-color: #1F1E1E;
  color: #FFFFFF;
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.mainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mainerTxup {
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  text-align: center;
  width: 1334px;
  height: 185px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

}
.txprm {
  width: 473px;
  height: 60px;
  font-family:"Open Sans", sans-serif;
  font-size: 44px;
  font-weight: 700;
  float: left;
}
.txsec {
  width: 867px;
  height: 75px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  float: right;
  text-align: left;
}

.image {
  box-sizing: border-box;
  display: block;
  width: auto;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
 
}
.image__1 {
  height: 577px;
  float: left;
}
.image__2 {
  float: right;
  margin-top: 288px;
  margin-right: auto;
  margin-left: 60px;
}

.textdw {
  box-sizing: border-box;
  display: block;
  width: 1334px;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
 
}

.textImagedw {
  box-sizing: border-box;
  display: block;
  width: 868px;
  height: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 44px;
  font-weight: 700;
  float: left;
  text-align: left;


}

.textImagedwrt {
  box-sizing: border-box;
  display: block;
  width: 967px;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  float: right;
  text-align: left;
  position: relative;
  padding-left: 100px;
  padding-bottom: 110px;
}

.imagedwfoot {
  box-sizing: border-box;
  display: flex;
  width: 1334px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.textImagedown {
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;

}
.footer {
  flex: 0 0 auto;
}
