html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    background-image: url(/pic/noise.png);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    background-color: #dedede50;
    backdrop-filter: blur(20px);
    z-index: 100;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-left: 293px;
    padding-right: 293px;
}

.logo {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 202px;
    height: 147px;
}

.logo__black {
    position: absolute;
    width: 147px;
    height: 147px;
    background-color: black;
    border-radius: 7px;
}

.logo-black__text {
    text-align: center;
    padding-top: 50px;
    background-color:rgba(255, 255, 255, 0,5);

}

.logo__red {
    position: absolute;
    width: 121px;
    height: 42px;
    background-color: #BC3324;
    left: 81px;
    top: 92px;
    bottom: 13px;
    border-radius: 7px;
}

.logo-red__text {
    text-align: center;
    padding-top: 10.64px;
    background-color: rgba(255, 255, 255, 0,5);
}

.page-header_nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.page-header_nav__link {
    margin: 0 25px;
    color: #1f1e1e;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transform: color 0.2s;
    text-shadow: 1px 1px 3px rgba(116, 116, 116, 0.377);
}

.page-header_nav__link:hover {
    color: #bc3324;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1F1E1E;
    background-color: transparent;
    outline: none;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    background-color: #1F1E1E;
    color: #ffffff;
  }

  .page-header__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
  }

.main {
    flex: 1 0 auto;
    padding-top: 247.5px;
}

.page__main {
    display: flex;
    flex-direction: column;
}

.centr-up__text {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 45px;
    padding-bottom: 70.5px;
}
.centr-dw__text {
    margin: 0;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 45px;
    padding-top: 70px;
    padding-bottom: 70.5px;
}

.iwant__text {
    margin: 0;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 22px;
}

.button__centr {
    margin-top: 46px;
    text-align: center;
    align-content: space-between;
}   

.btn__red {
    background-color: #BC3324;
    border: #BC3324;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 52px;
    width: 272px;
    border-radius: 7px;
    transition-duration: 0.4s;
}
.btn__red:hover {
    background-color: #ffffff; /* Green */
    color: #BC3324;
    border: 2px solid #BC3324;
  }


.btn__gray {
    background-color: rgba(0, 0, 0, 0);
    color: #1F1E1E;
    margin-left: 106px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 52px;
    width: 272px;
    border-radius: 7px;
    transition-duration: 0.4s;
}

.btn__gray:hover {
    background-color: #a5a5a5; /* Green */
    color: #000000;
    border: 2px solid #c0bfbf;
  }
  .knopka__black {
    margin-top: 200px;
    text-align: center;
    display: inline-block;
  }

  .aboutUs {
    width: 642px;
    height: 62px;
    align-items: center;
    background-color: #1F1E1E;
    color: #ffffff;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
  }

  .container {
    height: 185px;
    display: grid;
    grid-template-columns: 473px 867px;
    grid-template-rows: auto;
    margin-top: 150px;
    padding-left: 293px;
    padding-right: 293px;
  }
  
  .text1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    align-items: flex-start;
    text-align: right;
    padding: 0;
    margin: 0;
  }

   .text2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    align-items: flex-end;
    text-align: left;
    padding-top: 110px;
    margin: 0;
   }

   .foto__1 {
    margin-top: 150px;
   }

   .foto__2 {
    margin-top: 460px;
    margin-left: 450px;
   }

    .text3 {
    margin-top: -150px;
    width: 868px;
    height: 120px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    align-items: flex-start;
    text-align: left;
    }
    
    .text4 {
    margin: 0;
    padding: 0;
    width: 867px;
    height: 75px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    align-items: flex;
    text-align: left;
    }


.page-footer {
    flex: 0 0 auto;
}